<!DOCTYPE html>
<html>
<head>
	{{>head}}
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<ul class="nav nav-tabs">
				<li class="active"><a href="/">home</a></li>
				<li><a href="/insert-form">Formulaire d'inscription</a></li>
				<li><a href="/update-form">Modification info membre</a></li>
				<li><a href="/delete-form">Suppression membre</a></li>
				<li><a href="/find">Liste des membres</a></li>
				<li><a href="/chat">Chat</a></li>
				{{#if session.id}}
					<form method="post" action="/logout">
						<li><button class="btn btn-primary" type="submit">Déconnexion</button></li>
					</form>
				{{/if}}
			</ul>
		</div>
	</div>

	{{{body}}}
</body>
</html>